:root {
    --minWidth: 375px;
    --maxWidth: 1440px;

    /* Colors */

    --clr-primary-100: hsl(0, 36%, 70%);
    --clr-primary-200: hsl(0, 93%, 68%);

    --clr-neutral-100: hsl(0, 6%, 24%);
    --clr-neutral-200: hsla(0, 36%, 70%, 0.581);
    --clr-neutral-300: hsl(0, 0%, 100%);
    --clr-neutral-400: hsla(0, 0%, 0%, 0.535);


    --gradient-100: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-200: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    /* Font Size */
    --fs-100: 1rem;

    /* Font Family */

    --ff-100: "Josefin Sans", sans-serif;
    /* Font Weights */

    --fw-100: 300;
    --fw-200: 400;
    --fw-300: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Global Setup */

@media (width < 850px) {

    html,
    body {
        width: 100%;
        min-height: 100vh;
    }

    article {
        min-width: var(--minWidth);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Logo */

    article .logo {
        order: 1;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
    }

    article .logo svg {
        margin-left: 2em;
    }

    /* Content */

    article .content {
        order: 3;
        width: 100%;
        min-height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article .content h1 {
        text-transform: uppercase;
        font-family: var(--ff-100);
        font-size: calc(var(--fs-100) + 2rem);
        color: var(--clr-neutral-100);
        text-align: center;
        font-weight: var(--fw-200);
        margin-block: 1em .5em;
        letter-spacing: 20px;
    }

    article .content h1 span {
        font-weight: var(--fw-100);
        color: var(--clr-primary-100);
    }

    article .content p {
        width: 80%;
        font-size: var(--fs-100);
        font-family: var(--ff-100);
        font-weight: var(--fw-200);
        text-align: center;
        color: var(--clr-primary-100);
        line-height: 25px;
    }

    article .content form {
        width: 80%;
        min-height: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        margin-block-start: 3em;
    }

    article .content form input[type="email"],
    article .content form input[type="submit"],
    article .content form .fa-solid,
    article .content form span {
        position: absolute;
    }

    article .content form .fa-solid,
    article .content form span {
        display: none;
    }


    article .content form input[type="email"] {
        width: 100%;
        height: 50px;
        border-radius: 3em;
        color: var(--clr-primary-100);
        border: 2px solid var(--clr-primary-100);
    }

    article .content form input[type="email"],
    article .content form input[type="email"]::placeholder {
        text-indent: 2em;
    }

    article .content form input[type="email"]::placeholder {
        text-indent: 2em;
        color: var(--clr-neutral-200);
    }

    article .content form input[type="submit"] {
        width: 70px;
        height: 50px;
        border-radius: 3em;
        right: 0;
        font-size: calc(var(--fs-100) + 1rem);
        color: var(--clr-neutral-300);
        background: var(--gradient-200);
        border: none;
        box-shadow: 0 0 30px 1px var(--clr-neutral-400);
        cursor: pointer;
    }

    article .content form .fa-solid {
        right: 80px;
        top: 13px;
        font-size: calc(var(--fs-100) + .4rem);
        color: var(--clr-primary-200);
    }

    article .content form span {
        color: var(--clr-primary-200);
        font-family: var(--ff-100);
        bottom: 12px;
        left: 20px;
    }

    /* Picture */

    article .picture {
        order: 2;
        width: 100%;
        height: 35%;
    }

    article .picture .desktop {
        display: none;
    }

    article .picture .mobile {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

@media (height < 900px) {
    body {
        padding-bottom: 2em;
    }
}